<!DOCTYPE html>
<html ng-app="FillupApp">
<head>
  <title>Rails41Angular</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js' %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
